<a href="https://colab.research.google.com/github/NandiniBasdwar7/concise/blob/main/Day_2_Control_Flow_%2B_Functions_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Day 2: Control Flow + Functions
#if-else

In [ ]:
#if-else
#if- executes when block of code is ==True.
#else-executes if all preceding 'if' and 'elif' conditions are False.

In [ ]:
x = 10
if x > 15:
    print("x is greater than 15")
elif x == 10:
    print("x is equal to 10")
else:
    print("x is less than 10")

x is equal to 10

In [ ]:
#Python For Loops-A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)


#Looping Through a String
for x in "banana":
  print(x)

#The break Statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break


#Exit the loop when x is "banana", but this time the break comes before the print:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

#The continue Statement
#Do not print banana:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

#The range() Function-To loop through a set of code a specified number of times, we can use the range() function.
for x in range(6):
  print(x)

#Using the start parameter:
for x in range(2, 6):
  print(x)

#Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
  print(x)


#Else in For Loop-The else keyword in a for loop specifies a block of code to be executed when the loop is finished.
for x in range(6):
  print(x)
else:
  print("Finally finished!")


#Nested Loops-A nested loop is a loop inside a loop.The "inner loop" will be executed one time for each iteration of the "outer loop".
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

r=5
for i in range(1,r+1):
  for j in range(1,i+1):
    print('*',end="")
  print()


#The pass Statement
for x in [0, 1, 2]:
  pass

apple
banana
cherry
b
a
n
a
n
a
apple
banana
apple
apple
cherry
0
1
2
3
4
5
2
3
4
5
2
5
8
11
14
17
20
23
26
29
0
1
2
3
4
5
Finally finished!
red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry
*
**
***
****
*****

In [ ]:
#While loop-while loop we can execute as long as a condition is true.
#Print i as long as i is less than 6:
i = 1
while i < 6:
  print(i)
  i += 1


#The break Statement-With the break statement we can stop the loop even if the while condition is true:
#Exit the loop when i is 3:

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1



#The continue Statement-With the continue statement we can stop the current iteration, and continue with the next:
#Example
#Continue to the next iteration if i is 3:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

#The else Statement-With the else statement we can run a block of code once when the condition no longer is true:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
1
2
3
1
2
4
5
6
1
2
3
4
5
i is no longer less than 6

In [ ]:
#Writing functions, lambda functions
#python function-A function is a block of code which only runs when it is called.in function pass data ,known as 'parameter' ,a function can return data as a result
#Creating a Function-In Python a function is defined using the def keyword:
def my_function():
  print("Hello from a function")


#Calling a Function-To call a function, use the function name followed by parenthesis:
def my_function():
  print("Hello from a function")
my_function() #use the function name followed by parenthesis


#Arguments-Information can be passed into functions as arguments.
def my_function(fname):
  print(fname + "logo")

my_function("Emil")
my_function("Tobias")
my_function("Linus")


#Number of Arguments
#This function expects 2 arguments, and gets 2 arguments:

def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

#Passing a List as an Argument
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)


#The pass Statement
def myfunction():
  pass

#Positional-Only Arguments
def my_function(x, /):
  print(x)

my_function(3)

#Keyword-Only Arguments
def my_function(*, x):
  print(x)

my_function(x = 3)

#Combine Positional-Only and Keyword-Only
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

Hello from a function
Emil Refsnes
Tobias Refsnes
Linus Refsnes
Emil Refsnes
apple
banana
cherry
3
3
26

In [ ]:
#lambda function-A lambda function is a small function.A lambda function can take any number of arguments, but can only have one expression.
x = lambda a : a + 10
print(x(5))

#Lambda functions can take any number of arguments:
x = lambda a, b : a * b
print(x(5, 6))

In [ ]:
#List Comprehension-only one line of code,a concise way to create lists
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)


#Condition-The condition is like a filter that only accepts the items that evaluate to True.
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if x != "apple"]
print(newlist)

nums=[1,2,3,4,5,6,7,8]
even=[x for x in nums if x%2==0]
print(even)



#Iterable-The iterable can be any iterable object, like a list, tuple, set etc.
newlist = [x for x in range(10)]
print(newlist)

newlist = [x*x for x in range(10)]
print(newlist)

['apple', 'banana', 'mango']
['banana', 'cherry', 'kiwi', 'mango']
[2, 4, 6, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
# Write a function to clean and transform tabular data
def clean(data):
  lines=data.strip().split('\n')
  result=[]
  for line in lines[1:]:
    values=[value.strip() for value in line.split(',')]
    result.append(values)
  return result
data="""name,age,city
Nandini,25,indore
srishti,22,mhow
neha,27,bhoapl"""
print(clean(data))

[['Nandini', '25', 'indore'], ['srishti', '22', 'mhow'], ['neha', '27', 'bhoapl']]

In [32]:
# Build a function clean_data(data_list) that
#Removes empty strings.
#Trims whitespace.
#Converts numeric strings to integers.
def clean(data):
  cleaned=[]
  for i in data:
    i=i.strip()
    if i=="":
      continue
    if i.isdigit():
      cleaned.append(int(i))
    else:
      cleaned.append(i)
  return cleaned
data=['123',"","apple",'42'," ",'banana']
print(clean(data))

[123, 'apple', 42, 'banana']

In [34]:
temperature= [35,28,32,34,19,24]
Fahrenheit= map(lambda x:x*9/5+32, temperature)
print(list(Fahrenheit))

[95.0, 82.4, 89.6, 93.2, 66.2, 75.2]