<a href="https://colab.research.google.com/github/NandiniBasdwar7/concise/blob/main/Nandini.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#variables and Data types
name='Nandini'
age=25
height=5.1
is_active=True
print(type(name),type(age),type(height),type(is_active))

<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

In [96]:
#data structure
#(1)list
fruits=['apple','banana','mango']
#fruits.append(['orange'])
#fruits.extend(['orange'])
fruits.index('apple')
print(fruits)

['apple', 'banana', 'mango']

In [5]:
#(2)Tuple-tuple is immutable,not changed,it is ordered collection
x=(10,20)
print(x[0])
y=list(x)
print(y,type(y))

10
[10, 20] <class 'list'>

In [12]:
#Dictionary-it is collection of key-value pair,it is a order and Mutable it is changed and modify..
stu={"name":"Nandini","age":25}
print(stu)
print(stu['name'])

{'name': 'Nandini', 'age': 25}
Nandini

In [13]:
#SET-it is unorderd collection of unique value..it is also Mutable
nums={1,2,3,3,2,1,4,4,5}
print(nums)

{1, 2, 3, 4, 5}

In [82]:
#String manipulations
text='Hello World'
print(text.strip())
print(text.lower())
print(text.upper())
print(text.replace('world','python'))
print(text.split(' '))
# Hello World

Hello World
hello world
HELLO WORLD
Hello World
['Hello', 'World']

In [72]:
#ðŸ§  Mini Project: Parse and clean a CSV-like string input
data=['  name 1:Nandini ,age:25,role:Developer','name:Shivani,age:22,role:Designer','name:Neha,age:28,role:Manager']
result=[]
for i in data:
  entry={}
  parts=i.split(',')
  for j in parts:
    key,value=j.strip().split(':')
    key=key.strip()
    value=value.strip()
    if key=='age':
      value=int(value)
    entry[key]=value
  result.append(entry)
print(result)

[{'name 1': 'Nandin i', 'age': 25, 'role': 'Developer'}, {'name': 'Shivani', 'age': 22, 'role': 'Designer'}, {'name': 'Neha', 'age': 28, 'role': 'Manager'}]

In [55]:
#Exercise 1:
 #Write a Python script to:
#Parse a string like "name:John, age:30, role:engineer" into a dictionary.
input='name:John,age:30,role:Engineer'
result=dict(item.strip().split(':') for item in input.split(','))
print(result)

{'name': 'John', 'age': '30', 'role': 'Engineer'}

In [73]:
#Convert list of such strings into a list of dictionaries.
data=['name:Nandini,age:25,role:Developer','name:shivam,age:25,role:Manager']
result=[dict(item.strip().split(':')for item in line.split(',')for line in data)]
print(result)

[{'name': 'Neha', 'age': '28', 'role': 'Manager'}]

In [85]:
# Create a function to extract domains from a list of emails.
def extract_domain(email_list):
  domains =[]
  for email in email_list:
    domain=email.split('@')[1]
    domains.append(domain)
  return domains

emails=['nandini@gmail.com','shri@yahoo.com','kanha@outlook.com']
result = extract_domain(emails)
print(result)

['gmail.com', 'yahoo.com', 'outlook.com']